
#loader {
  margin-left: 15%;
  border: 16px solid #505050;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 12px;
  height: 12px;
  background:red;
  color:orange;
  display: none;


  animation: spin .5s linear infinite;
}

/* Safari */


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
