/* html {
  scroll-behavior: smooth;
  scroll-padding-top: 400px;
} */
body {
  background: 100%;
  background-color: #eaebc7;
  color: #6f5bd4;
}

#start_date {
  display: none;
}

#grid-container {
  display: grid;
  grid-template-columns: 40% 40%;
}
#bicycle_pic_home {
  margin-left: 50%;
  border-radius: 20px;
  width: 55%;
}
#main {
  /* border: red, 2px, solid; */
  /* width: 30%; */
  margin-left: 3%;
}
#side_picture {
  margin-top: 10px;
  /* border: red, 2px, solid; */
  width: 40%;
  position: absolute;
  margin-left: 50%;
}
#letter_error {
  display: none;
}
