<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Komoot Statistics</title>

    <link href="{{ url_for('static', filename='CSS/NavBar.css')}}" rel="stylesheet"/>
    <script src="{{ url_for('static', filename='JS/Script.js')}}"></script>

    {% block title %}
    {% endblock %}
</head>
<body>
    <div id="mainBar">
        <ul class="HorBarUl">
            <li id="Li1">
                <a href="{{url_for('home')}}">Home</a>
            </li>
            <li>
                <a href="{{url_for('mainstat')}}">Statistics</a>
            </li>
            <li class="dropdown"  id="Li2">
                <a href="{{url_for('comments')}}">Comments</a>
                        <div class="dropdown-content">
                            <a class="dropdown-content" href="{{url_for('united_file')}}">Disply with Comments</a>
                            <a href="{{url_for('change_comments')}}">Change Comments</a>
                            <a href="{{url_for('comments')}}">Exit</a>
                        </div>
                    </li>
        </ul>
    </div>

 {% block content %}
{% endblock %}


</div>

</body>
</html>