{% extends "master.html" %}
{% block title %}
<link href="{{ url_for('static', filename='CSS/Comments.css')}}" rel="stylesheet"/>
<script src="{{ url_for('static', filename='JS/Script.js')}}"></script>
{% endblock %}

{% block content %}

<div class="body" >

    <h1 style="color: #abcdef"> Show comments page </h1>
    <h2>Last time of updated from Komoot: {{updated_time}}</h2>
    <div  id="grid-container" class="grid-items">
        <div class="left-content">
            <form id="options" class="radio" method="post">
                <div class="week_days_options">
                    <input type="radio" name="week_days_options" value="weekly" id="weekly_comment"
                           class="week_days" checked="true">
                    <label for="weekly">Per Week</label>
                    <input type="radio" name="week_days_options" value="daily" id="daily_comment" class="week_days">
                    <label for="daily">Per Day</label>
                </div>
                <div class="from_when">
                    <input type="radio" name="from_when" value="day_one" id="day_one" >
                    <label for="day_one">From Day One</label>
                    <input type="radio" name="from_when" value="year_start" id="year_start_comment"  checked="true">
                    <label for="year_start">From January 1st this year</label>
                    <input type="radio" name="from_when" value="from_date" id="from_date_comment" >
                    <label for="from_date">From Date</label>

                    <input type="date" name="date"  placeholder="start date" id="start_date_comment">


                </div>
                <input type="submit" value="Submit" class="button">
                <div id="date">

                </div>

            </form>

            <div class="table">
                <table id="comments-table">
                    <tr>
                        <th id="weekly_daily_header"></th>
                        <th>Duration</th>
                        <th>Distance</th>
                        <th>A_Duration</th>
                        <th>A_Distance</th>
                        <th>A_Comment</th>
                    </tr>


                    {% for record in stat_data %}
                    <tr>
                        <td>{{record[0]}}</td>
                        <td>{{record[1]}}</td>
                        <td>{{record[2]}}</td>
                        <td>{{record[3]}}</td>
                        <td>{{record[4]}}</td>
                        <td>{{record[5]}}</td>

                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
<!--        close left content-->



        <div class="right-content">
            <div class="table">
                <table id="summary-table">
                    <tr>
                        <th>Total Cycling Time</th>
                        <th>Total Distance</th>
                        <th>Total Number of rides</th>
                    </tr>

                    <tr>
                        <td>{{summary[0]}}</td>
                        <td>{{summary[1]}}</td>
                        <td>{{summary[2]}}</td>
                    </tr>
                </table>
            </div>
        </div>
<!--        close div right-->
    </div>
<!--    close grid-container-->
</div>
<script>
<!--add the date-box once the radio-button "from date" checked-->
    let from_when = document.querySelector('.from_when');
    from_when.addEventListener('change', () =>{
    let start_date = document.getElementById("start_date_comment");
    let from_date = document.getElementById("from_date_comment");

    if (from_date.checked){ start_date_comment.style.display = "block" }
    else{ start_date_comment.style.display = "none" };})

    let weekly_daily_header = document.getElementById("weekly_daily_header");
    if ({{daily}}) {weekly_daily_header.innerHTML = "Date"}
    else { weekly_daily_header.innerHTML = "1st day of the week"}
</script>
{% endblock %}